
.form-control {
  min-width: 3rem !important;
  border-color: #dbe2ef !important;
  color: #112d4e !important;
}

.input-group-text {
  font-size: small !important;
  text-align: right !important;
  padding: 5px !important;
  white-space: pre-line !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 15em;
  height: 100%;
  display: "flex";
  justify-content: right;
  align-items: center;
}

.input-group {
  height: 100%;
}

.inputs{
  border: 1px solid red
}
.iris-visual{
  border: 1px solid green;
  height: 500px;
}
.arrow {
  stroke: rgb(50, 50, 50);
  stroke-width: 2px;
}
.arrow-head {
  fill: rgb(50, 50, 50);
}
.arrow-text {
  text-anchor:start;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  fill: rgb(50, 50, 50);
  text-anchor: start;
}
.angle-text{
  text-anchor:start;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  fill: rgb(50, 50, 50);
  text-anchor: middle;
}
.leader-line{
  stroke: rgba(50, 50, 50,0.3);
  stroke-width: 1px;
  stroke-dasharray: 1 0 1;
}
.diameter-outline{
  stroke: rgba(50, 50, 50,0.3);
  stroke-width: 1px;
  stroke-dasharray: 1 0 1;
}
.btn {
  margin: auto;
  width: 100%;
  height: 100%;
  background: #112d4e !important;
  border-color: #010911 !important;
  color: #f9f7f7 !important;
  border-radius: 3px !important;
  font-size: larger !important;
}