
.form-control {
  min-width: 3rem !important;
  border-color: #dbe2ef !important;
  color: #112d4e !important;
}

.input-group-text {
  font-size: small !important;
  text-align: right !important;
  padding: 5px !important;
  white-space: pre-line !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 15em;
  height: 100%;
  display: "flex";
  justify-content: right;
  align-items: center;
}

.input-group {
  height: 100%;
}

.inputs{
  border: 1px solid red
}
.iris-visual{
  border: 1px solid green;
  height: 500px;
}